body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

canvas{
    border: 1px solid black;
    cursor: none;
}

#game{
    margin-top: 200px;
    display: none;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreboard{
    display: none;

}

table, th, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}